{:paths ["src"
         "resources"]
 :deps {org.clojure/clojure {:mvn/version  "1.10.3"}
        com.lucasbradstreet/cljs-uuid-utils {:mvn/version  "1.0.2"}}

 :aliases
 {:cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
           :main-opts ["-m" "cljfmt.main"
                       "--indents" "cljfmt.edn"
                       ; "fix"  "check"
                       ]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
         :main-opts ["-m" "clj-kondo.main"
                     "--fail-level" "error"
                     "--config" "cljkondo.edn"
                     "--lint"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}

  :webly {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.5.655"}}
          :exec-fn webly.app.app/webly-build
          :exec-args {:config [{:build {:disabled-extensions #{; extensions using sci-configs will not work in webly.
                                                               "reagent" "re-frame"
                                                               "funcool-promesa"
                                                               "applied-science.js-interop"
                                                                ; webly2 is now in webly. needs to be removed from ui-repl.
                                                               "webly2"
                                                               "ui-repl"
                                                               "cljs-ajax"}}}]
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile2"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}

  :demo {:extra-deps {org.pinkgorilla/webly {:mvn/version "0.5.655"}
                      com.fasterxml.jackson.core/jackson-core {:mvn/version "2.12.0"}}
         :extra-paths ["profiles/demo/src" "profiles/demo/resources"]
         :exec-fn modular.system/start!
         :exec-args {:config ["webly/config.edn" "demo.edn"]
                     :profile "watch2"
                     :services "webly/services.edn"}}}}