{:name "pinkie"
 ; build
 :lazy false
 :cljs-namespace [; ui.pinkie 
                  pinkie.error
                  pinkie.text
                  pinkie.html
                  pinkie.jsrender
                  pinkie.throw-exception
                  ; pinkie
                  pinkie.default-setup
                  pinkie.pinkie]
 :cljs-ns-bindings {'pinkie {'register-tag pinkie.pinkie/register-tag
                             'tags pinkie.pinkie/tags
                             'render pinkie.pinkie-render/pinkie-render}
                    'ui.pinkie {'error-boundary pinkie.error/error-boundary
                                'text pinkie.text/text
                                'html pinkie.html/html
                                'js-fun pinkie.jsrender/render-js
                                'throw-ex pinkie.throw-exception/exception-component}}}

