{:name "pinkie"
 :lazy false
 :clj-require []
 :theme {:available  {}
         :current {}}
 :cljs-namespace [pinkie.default-setup
                  pinkie.pinkie
                  pinkie.error
                  pinkie.text
                  pinkie.throw-exception]
 :cljs-bindings {'error-boundary pinkie.error/error-boundary
                 'text pinkie.text/text
                 'throw-ex pinkie.throw-exception/exception-component}
 :cljs-ns-bindings {'pinkie {'register-tag pinkie.pinkie/register-tag
                             'tags pinkie.pinkie/tags
                             'render pinkie.pinkie-render/pinkie-render}}
 :pinkie {:p/gtable pinkie.gtable/gtable
          :p/phtml  pinkie.html/html ;phtml because it may not equal a html keyword
          :p/text pinkie.text/text
          :p/exc pinkie.throw-exception/exception-component
          ;pinkie
          :p/pinkie pinkie.pinkie-render/pinkie-render
          :p/components pinkie.pinkie-render/components}

 :snippets []}

