{:name "pinkie-viz"
 ; build
 :lazy false
 :cljs-namespace [viz.core]
 :cljs-ns-bindings {'viz.core {'show viz.core/show
                               'resolve-hiccup viz.core/resolve-hiccup
                               'resolve-fn viz.core/resole-fn
                               'no-renderer viz.core/no-renderer}}}
