{:name "viz-pinkie"
 ; build
 :lazy false
 :cljs-namespace [viz.hiccup
                  viz.show]
 :cljs-ns-bindings {'viz {'show viz.show/show}
                    'viz.hiccup {'resolve-hiccup viz.hiccup/resolve-hiccup}
                    'viz.show {'show viz.show/show}
                    }}
